h1{
    text-align: center; /*alinhamento*/
    font-family: 'Share Tech Mono', monospace;
}

#calculator{
    background: #1c4670;
    text-align: center; 
    width: 450px; /*alinhamento*/
    display: block; /*vizualizar em bloco*/
    border-radius: 10px;
    padding: 10px;
    margin: 30px auto;
}

#display{
    background-color: #ccc;
    text-align: center;
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
    font-family: 'Share Tech Mono', monospace;
}

#results{
    text-align: left;
    height: 100px;
    font-size: 24px;
    padding: 30px 10px 10px 10px; /*topo e os lados*/
}

#keyboard{
    margin: 15px;
}